<!-- Practica Contador -->
<h2>Practica Contador</h2>
<label>Valor inicial</label>
<input [(ngModel)]="inicial" type="number">
<br>
<label>Cantidad</label>
<input [(ngModel)]="cant" type="number">
<br><br>

<p>{{cantTotalMostrar}}</p>

<!-- 
    [monto]="inicial" 
    - Se pueden llamar igual [monto]="monto" 
    
    [monto] -> variable del componente hijo.
    "inicial" -> variable del componente padre.

    El valor de la variable padre "inicial" prevalece al valor del hijo.
    Pero una vez, se modifique el valor, hasta que no es actualizada la pagina no 
    vuelve a mostrar el valor del padre nuevamente.
 -->

<app-contador [monto]="inicial" [cantidad]="cant" (cantTotal)="cantMostrar($event)"></app-contador>

<hr>
<!-- Practica Fromulario -->
<h2>Practica Formulario</h2>

<app-formulario (enviarNombre)="mostarNombre($event)" (enviarPassword)="mostrarPassword($event)"></app-formulario>

<hr>
<!-- Practica empleados -->
<h2>Practica Empleados</h2>
<app-filtro (buscar)="buscar($event)"></app-filtro>
<app-tabla [empleados]="empleados"></app-tabla>